body {
    background-image: url("https://images.pexels.com/photos/1360115/pexels-photo-1360115.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#hd {
    color: orange;
    font-size: 10vw;
    }
