body {
    background-image: url("");
    background-size: 100%;
    background-repeat: no-repeat;
}

#hd {
    color: orange;
    font-size: 8vw;
    font-family: verdana;
    font-variant: small-caps;
    }
